Package: com.thecasle.clearlock
Name: ClearLock
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jake Kaslewicz
Author: Jake Kaslewicz
Section: Tweaks
