<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
            <key>footerText</key>
            <string>Always Blur: Will blur even if no notifications are present. Recommended if any of the transparency options are enabled.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
			<key>key</key>
			<string>kTransparency</string>
            <key>id</key>
            <string>idTransparency</string>
			<key>label</key>
			<string>Transparency</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kClearLockscreen</string>
            <key>id</key>
            <string>idClearLockscreen</string>
            <key>label</key>
            <string>Lockscreen Transparency</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kEnableBlurLock</string>
            <key>label</key>
            <string>Lock Blur</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kEnableBlurHistory</string>
            <key>label</key>
            <string>History Blur</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kAlwaysLockBlur</string>
            <key>label</key>
            <string>Always Blur</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Animations</string>
            <key>footerText</key>
            <string>Icon Fly In: Only certain devices, icons fly in from outer edges of screen when unlocking. This disables the animation.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kFadeUnlock</string>
            <key>label</key>
            <string>Fade Animation</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kFlyInDisabled</string>
            <key>label</key>
            <string>Disable Icon Fly In</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Blur Radius</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kLockBlur</string>
            <key>showValue</key>
            <true/>
            <key>default</key>
            <real>10</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>60</real>
            <key>isSegmented</key>
            <false/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Saturation</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kLockSaturation</string>
            <key>showValue</key>
            <true/>
            <key>default</key>
            <real>12</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>30</real>
            <key>isSegmented</key>
            <false/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Darkening Alpha</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kLockColorAlpha</string>
            <key>showValue</key>
            <true/>
            <key>default</key>
            <real>0</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>1</real>
            <key>isSegmented</key>
            <false/>
        </dict>
	</array>
	<key>title</key>
	<string>Clear Lock</string>
</dict>
</plist>
