<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
			<key>key</key>
			<string>kTransparency</string>
            <key>id</key>
            <string>idTransparency</string>
			<key>label</key>
			<string>Transparency</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kClearLockscreen</string>
            <key>id</key>
            <string>idClearLockscreen</string>
            <key>label</key>
            <string>Lock Transparency</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kAlwaysLockBlur</string>
            <key>label</key>
            <string>Always Blur Lockscreen</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kAlwaysNCBlur</string>
            <key>label</key>
            <string>Always Blur Notification Center</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kFlyInDisabled</string>
            <key>label</key>
            <string>Disable Icon Flyin</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>id</key>
            <string>yayEEt</string>
            <key>key</key>
            <string>kSplitCustomo</string>
            <key>label</key>
            <string>Seperate Lockscreen from N</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>History Blur</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kHistoryBlur</string>
            <key>showValue</key>
            <true/>
            <key>id</key>
            <string>idHistoryBlur</string>
            <key>default</key>
            <real>10</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>60</real>
            <key>isSegmented</key>
            <false/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Lock Blur</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kLockBlur</string>
            <key>showValue</key>
            <true/>
            <key>default</key>
            <real>10</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>60</real>
            <key>isSegmented</key>
            <false/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>History Saturation</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kHistorySaturation</string>
            <key>showValue</key>
            <true/>
            <key>default</key>
            <real>12</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>30</real>
            <key>isSegmented</key>
            <false/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Lock Saturation</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kLockSaturation</string>
            <key>showValue</key>
            <true/>
            <key>default</key>
            <real>12</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>30</real>
            <key>isSegmented</key>
            <false/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>History Color Alpha</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kHistoryColorAlpha</string>
            <key>showValue</key>
            <true/>
            <key>default</key>
            <real>0</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>1</real>
            <key>isSegmented</key>
            <false/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Lock Color Alpha</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>com.thecasle.clearlockprefs</string>
            <key>PostNotification</key>
            <string>com.thecasle.clearlockprefs/ReloadPrefs</string>
            <key>key</key>
            <string>kLockColorAlpha</string>
            <key>showValue</key>
            <true/>
            <key>default</key>
            <real>0</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>1</real>
            <key>isSegmented</key>
            <false/>
        </dict>
	</array>
	<key>title</key>
	<string>Clear Lock</string>
</dict>
</plist>
